version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: career_guidance
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4:8.3
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - backend

  auth-service:
    container_name: auth-service
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile
    ports:
      - "8020:8020"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/career_guidance
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
    volumes:
      - ~/.m2:/root/.m2
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - backend

  proforient-service:
    container_name: proforient-service
    build:
      context: .
      dockerfile: ./proforient-service/Dockerfile
    ports:
      - "8021:8021"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/career_guidance
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
    volumes:
      - ~/.m2:/root/.m2
    depends_on:
      - postgres
      - auth-service
    restart: unless-stopped
    networks:
      - backend

volumes:
  pg_data:

networks:
  backend:
    driver: bridge
